body {
    font-family: 'Open Sans', sans-serif;
    color: #4D4E53;
    padding: 0.5em;
}

pre {
    font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
    margin: 0.1em 0.1em 1em;
    padding: 0.1em;
    border: solid 1px #ccc;
    background-color: #F5F5F5;
    overflow: auto;
    border-radius: 4px;
}

#container {
    width: 61%;
    margin-left: auto ;
    margin-right: auto ;
}
